@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --dark: 29, 29, 29;
  --white: 255, 255, 255;
  --green: 40, 169, 43;
  --black: 33, 37, 41;
  --pitch-black: 15, 14, 14;
  --para_black: 105, 103, 103;
  --light_pink_gradient: linear-gradient(90deg,rgba(252, 245, 248, 1) 0%,rgba(246, 232, 240, 1) 100%);
  --dark_pink_gradient: linear-gradient(90deg, #ef8081 0%, #f63132 61.98%, #9f1689 100%);
  --white: rgb(255, 255, 255);
  --red:rgb(229, 54, 23);
  --gray:rgb(167, 167, 167);
  --green: rgb(40, 169, 43);
  --pitch_black: rgb(15, 14, 14);
  --black:rgba(16, 15, 15, 0.6);
  --black-8:rgba(16, 15, 15, 0.8);
  --black-1:rgba(16, 15, 15, 0.1);
  --black-2:rgba(16, 15, 15, 0.2);
  --black-5:rgba(16, 15, 15, 0.05);
  --black-6:rgba(16, 15, 15, 0.6);
  --black-4:rgba(16, 15, 15, 0.4);
  --red-5:rgba(229,54,23,0.05);
  --red-1:rgba(229,54,23,0.1);
  --red-4:rgba(229,54,23,0.04);
  --white-6:rgba(255, 255, 255, 0.6);
  --white-2:rgba(255, 255, 255, 0.2);
  --white-4:rgba(255, 255, 255, 0.4);
  --white-5:rgba(255, 255, 255, 0.05);
  --white-8:rgba(255, 255, 255, 0.8);
  --white-1:rgba(255, 255, 255, 0.01);
  --white-3:rgba(255, 255, 255, 0.3);
  --white-25:rgba(255, 255, 255, 0.25);
  --white-11:rgba(255, 255, 255, 0.1);
  --white-95:rgba(255, 255, 255, 0.95);
  --dark-pink-gradient: linear-gradient(90deg, #ef8081 0%, #f63132 61.98%, #9f1689 100%);
  --dark_pink_gradient: linear-gradient(90deg, #EF8081 -39.31%, #F63132 20.53%, #9F1689 79.22%);
  --ashwhite:rgb(244,246,248);
  --shadow:4px 4px 48px rgba(221, 41, 77, 0.1);
  --text-gradient:linear-gradient(86.47deg, #EF8081 2.91%, #F63132 28.38%, #B0187C 42.98%);
  --marquee:rgba(16, 15, 15, 0.05);
  --project_stags:rgba(15, 14, 14, 0.1);
  --prject_stgs-text:rgba(15, 14, 14, 0.8);
  --red_opaq4:rgba(229, 54, 23,0.4);
  --border_bottom:rgba(255, 255, 255, 0.4);
  --breakpoint-phone:576px;
  --breakpoint-tablet:991px;
}

@font-face {
  font-family: "times-italic";
  src: url("../fonts/Times Italic.ttf");
  font-style: italic;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "worksans-regular", sans-serif;
}
@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
}

strong {
  font-family: "worksans-bold", sans-serif;
}

em {
  font-family: "worksans-semibold", sans-serif;
}

.spacer {
  height: 72px;
}

.spacer-mini {
  height: 56px;
}

.row-no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row-no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
ul.listing {
  display: unset !important;
}
ul.listing li {
  background: transparent !important;
  padding: 0 !important;
  text-align: left !important;
}

ol {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

a {
  text-decoration: none;
  z-index: 9;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.f-22 {
  font-size: 22px;
}

.main-anchor {
  color: inherit;
}
.main-anchor svg {
  width: 200px;
}

.cta-wrapper .bttn-primary {
  text-decoration: none;
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0.8), rgba(150, 150, 150, 0.9));
  border-width: 1px;
  border-radius: 8px;
  color: var(--white);
  padding: 12px 16px;
  width: 189px;
  font-family: "worksans-medium", sans-serif;
}
.cta-wrapper .bttn-primary:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.marquee-effect {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}
.marquee-effect .div-wrap .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
  color: rgba(15, 14, 14, 0.5);
  font-family: "neue-haas-display-bold", sans-serif;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 120%;
  margin-bottom: 0;
  text-transform: capitalize;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
header {
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blurring effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Border for a frosted glass look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: fixed;
  top: 0;
  transition: 0.5s ease-in-out;
  transition-duration: 1s;
  width: 100%;
  z-index: 9999;
}
header .f-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
header .f-container figure {
  margin: 0;
  display: flex;
}
header .f-container figure span {
  color: #0f0e0e;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 1.6;
  text-transform: capitalize;
}

.container-homepage {
  padding: 160px 80px 80px 80px;
  background-size: contain !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(100, 100, 100, 0.4), rgba(226, 226, 226, 0.6)), url("../images/skyline.svg");
}
.container-homepage table {
  width: 100%;
  border-collapse: collapse;
}
.container-homepage table tr {
  border: 1px solid;
  font-size: 22px;
}
.container-homepage table tr td, .container-homepage table tr th {
  padding: 12px;
  border-right: 1px solid;
  text-align: center;
}
.container-homepage table tr td a, .container-homepage table tr th a {
  color: inherit;
}
.container-homepage table tr td button, .container-homepage table tr th button {
  padding: 12px;
  width: 100%;
}
.container-homepage table tr td.button-td, .container-homepage table tr th.button-td {
  padding: 12px 40px;
}
.container-homepage table tr th {
  font-family: "worksans-semibold";
}
.container-homepage table tr td {
  font-family: "worksans-regular";
}
.container-homepage .container-head {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
}
.container-homepage .container-head button {
  padding: 20px;
}

.container-homepage form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 40px;
}
.container-homepage form .form-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container-homepage form .form-div input {
  padding: 10px 12px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 6px;
}
.container-homepage form .form-div input:focus {
  border: 1px solid #000;
  outline: none;
}
.container-homepage form .form-div textarea {
  padding: 10px 12px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 6px;
  resize: none;
}
.container-homepage form .form-div textarea:focus {
  border: 1px solid #000;
  outline: none;
}
.container-homepage form .submit-btn {
  margin-top: 40px;
  margin-left: auto;
  width: 200px;
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0.8), rgba(150, 150, 150, 0.9));
  border: none;
  border-radius: 8px;
  color: var(--white);
  padding: 12px 16px;
}
.container-homepage form .submit-btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.platform-selection {
  display: flex;
  gap: 20px;
}

.platform-selection label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.design_goal_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.design_goal_list input {
  background: none;
  outline: none;
  border: 1px solid #000;
  padding: 10px 12px;
  border-radius: 6px;
}

.design_goal_list textarea {
  background: none;
  outline: none;
  border: 1px solid #000;
  padding: 10px 12px;
  border-radius: 6px;
  resize: none;
}

.add_new_button {
  width: max-content;
  background: none;
  border: 1px solid black;
  outline: none;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 10px;
}

.design_goal_un_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.design_goal_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.timeline-container input {
  width: 200px;
  padding: 0.5rem;
}

.timeline-container select {
  padding: 0.5rem;
}

.timeline_unit {
  background: none;
  border-radius: 6px;
  outline: none;
}

.commercial_list {
  display: flex;
  flex-direction: column;
}
.commercial_list input {
  background: none;
  outline: none;
  border: 1px solid black;
  border-radius: 6px;
}

.terms_conditions_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.term_condition_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.term_condition_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.term_condition_item input,
textarea {
  background: none;
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 6px;
  outline: none;
}

.term_condition_item textarea {
  resize: none;
  height: 60px;
}

.brief {
  border: 1px solid black;
  padding: 20px 40px;
  border-radius: 6px;
}

.custom-checkbox {
  color: #000;
}

.timeline_unit {
  padding: 0 20px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: 2px solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.timeline-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type=number] {
  padding: 8px;
  font-size: 16px;
  width: 200px;
}

.custom-dropdown {
  position: relative;
  width: 150px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  background: none;
}

.custom-dropdown .selected-option {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-dropdown .arrow {
  font-size: 12px;
  color: #666;
}

.custom-dropdown.open .dropdown-options {
  display: block;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #000;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-option {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #666;
  color: #fff;
}

main {
  position: relative;
}
main .project-detail-page section.cover {
  background-color: #E2E2E2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .project-detail-page section.cover .logo-svg {
  position: absolute;
  width: 289px;
  height: 64.03px;
  top: 5%;
  left: 3%;
}
main .project-detail-page section.cover .small-text {
  color: #1A1A1A;
  text-align: right;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 33.6px */
  position: absolute;
  bottom: 3%;
  right: 3%;
}
main .project-detail-page section.cover .main-text {
  color: #1A1A1A;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 145.826px;
  font-style: normal;
  font-weight: 500;
  line-height: 135.993px; /* 93.257% */
  text-transform: uppercase;
  position: relative;
}
main .project-detail-page section.cover .main-text .design-agency {
  font-style: italic;
  font-weight: 200;
}
main .project-detail-page section.cover .main-text .for {
  font-family: "times-italic", sans-serif;
  font-size: 161.867px;
  font-style: italic;
  font-weight: 400;
  text-transform: lowercase;
}
main .project-detail-page section.cover .main-text img {
  margin-inline: 18px;
}
main .project-detail-page section.cover .main-text .leaders {
  color: #1A1A1A;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 145.826px;
  font-style: normal;
  font-weight: 500;
  line-height: 135.993px; /* 93.257% */
  text-transform: uppercase;
}
main .project-detail-page section.cover .main-text .headline {
  display: flex;
  align-items: center;
}
main .project-detail-page section.cover .main-text .headline .image-div {
  position: relative;
  width: 190.228px;
  height: 120px;
  margin-right: 36px;
}
main .project-detail-page section.cover .main-text .headline .image-div img {
  position: absolute;
  bottom: 0;
  width: 190.228px;
  height: 107.827px;
  left: 0;
}
main .project-detail-page section.cover .glass-svg {
  position: absolute;
  top: 6%;
  right: 15%;
  width: 280px;
  height: 270px;
  z-index: 0;
}
main .project-detail-page section.intro {
  position: relative;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 100px;
  height: 100vh;
}
main .project-detail-page section.intro .glass-svg {
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}
main .project-detail-page section.intro p {
  color: #E2E2E2;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 57.633px;
  font-style: normal;
  font-weight: 300;
  line-height: 104px; /* 123.81% */
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}
main .project-detail-page section.intro p span {
  color: #E2E2E2;
  font-family: "times-italic", sans-serif;
  font-size: 64.494px;
  font-style: italic;
  font-weight: 400;
  line-height: 104px;
  text-transform: capitalize;
}
main .project-detail-page section.intro .small-text {
  color: #E2E2E2;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 33.6px */
  position: absolute;
  top: 54px;
  left: 62px;
  text-align: left;
  text-transform: none;
}
main .project-detail-page section.intro .small-text:hover {
  text-decoration: none;
}
main .project-detail-page section.intro .small-text.site-visit {
  top: unset;
  left: unset;
  right: 4%;
  bottom: 6%;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 32px;
}
main .project-detail-page section.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  flex-direction: column;
  gap: 24px;
  padding-block: 76px;
}
main .project-detail-page section.numbers .num {
  display: flex;
  gap: 16px;
  position: relative;
  align-items: center;
}
main .project-detail-page section.numbers .num.num1 {
  gap: 60px;
}
main .project-detail-page section.numbers .num.num2 img {
  width: 73px;
  height: 73px;
}
main .project-detail-page section.numbers .num.num3 img {
  width: 104.672px;
  height: 116.302px;
}
main .project-detail-page section.numbers .num.num4 img {
  width: 135.977px;
  height: 75.543px;
}
main .project-detail-page section.numbers .num.num4::after {
  display: none;
}
main .project-detail-page section.numbers .num::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; /* Adjust the border thickness */
  background: linear-gradient(90deg, rgba(146, 146, 146, 0) 3.5%, #1A1A1A 50.5%, rgba(146, 146, 146, 0) 100%);
  border-radius: 2px; /* Optional: makes the border edges rounded */
}
main .project-detail-page section.numbers .num p {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 97.666px;
  font-style: normal;
  font-weight: 200;
  line-height: 97.666px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
main .project-detail-page section.numbers .num p span {
  color: var(--Primary-Red-700, #E91010);
  font-family: "times-italic", sans-serif;
  font-size: 112.691px;
  font-weight: 400;
}
main .project-detail-page section.numbers .num img {
  width: 800px;
  height: 96px;
}
main .project-detail-page section.awards {
  padding-inline: 64px;
  padding-top: 48px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .project-detail-page section.awards p {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "times-italic";
  font-size: 84px;
  font-weight: 400;
  line-height: 86px; /* 86.667% */
}
main .project-detail-page section.awards p span {
  color: var(--Primary-Black-700, #1A1A1A);
  /* Display/130 - Extralight */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 200;
  line-height: 130px; /* 100% */
  text-transform: uppercase;
}
main .project-detail-page section.awards table {
  width: 100%;
}
main .project-detail-page section.awards table tr {
  position: relative;
}
main .project-detail-page section.awards table tr:last-child::after {
  display: none;
}
main .project-detail-page section.awards table tr::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; /* Adjust the border thickness */
  background: linear-gradient(90deg, rgba(146, 146, 146, 0) 3.5%, #1A1A1A 50.5%, rgba(146, 146, 146, 0) 100%);
  border-radius: 2px; /* Optional: makes the border edges rounded */
}
main .project-detail-page section.awards table td {
  padding-bottom: 16px;
  padding-top: 16px;
}
main .project-detail-page section.awards table td img {
  width: 54px;
  height: 54px;
}
main .project-detail-page section.awards table td:first-child {
  color: var(--Primary-Black-700, #1A1A1A);
  /* Title 1/32 - Regular */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  text-transform: capitalize;
}
main .project-detail-page section.awards table td:nth-child(5) {
  color: var(--Primary-Red-700, #E91010);
  font-family: "times-italic";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px; /* 100% */
  text-transform: capitalize;
}
main .project-detail-page section.awards table td:nth-child(6) {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  text-transform: capitalize;
}
main .project-detail-page section.partners {
  background-image: url(/images/partners/partner-bg.png);
  padding: 64px 48px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  background-position: center;
  background-size: cover;
}
main .project-detail-page section.partners p {
  color: #E2E2E2;
  font-family: "times-italic";
  font-size: 112.5px;
  font-weight: 400;
  line-height: 97.5px; /* 86.667% */
}
main .project-detail-page section.partners p span {
  color: #E2E2E2;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 97.5px;
  font-style: normal;
  font-weight: 200;
  line-height: 97.5px;
  text-transform: uppercase;
}
main .project-detail-page section.partners .grids {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
  padding-inline: 48px;
}
main .project-detail-page section.partners .grids .grid {
  width: 100%;
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: space-between;
}
main .project-detail-page section.ideation {
  background-color: #e2e2e2;
  padding: 64px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .project-detail-page section.ideation p {
  color: #1A1A1A;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 97.5px;
  font-style: normal;
  font-weight: 200;
  line-height: 97.5px; /* 100% */
  text-transform: uppercase;
}
main .project-detail-page section.ideation p span {
  color: #1A1A1A;
  font-family: "times-italic", sans-serif;
  font-size: 112.5px;
  font-weight: 400;
  line-height: 97.5px;
  text-transform: lowercase;
}
main .project-detail-page section.ideation .ideation-group {
  display: flex;
  justify-content: space-between;
}
main .project-detail-page section.ideation .ideation-group .topic {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
main .project-detail-page section.ideation .ideation-group .topic img {
  width: 210px;
  height: 270px;
}
main .project-detail-page section.ideation .ideation-group .topic p {
  color: var(--Primary-Black-700, #1A1A1A);
  text-align: center;
  font-family: "times-italic", sans-serif;
  font-weight: 400;
  line-height: 24px; /* 100% */
  text-transform: capitalize;
  font-size: 24px;
}
main .project-detail-page section.brand-intro {
  padding-top: 56px;
  background-color: #e2e2e2;
}
main .project-detail-page section.brand-intro .brand-head {
  border: 1px solid rgba(15, 14, 14, 0.2);
  border-left: none;
  border-right: none;
  display: flex;
  padding-inline: 48px 140px;
  padding-block: 40px 24px;
  align-items: center;
  justify-content: space-between;
}
main .project-detail-page section.brand-intro .brand-head img {
  width: 448px;
  height: 48px;
}
main .project-detail-page section.brand-intro .brand-head .brand-name {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "times-italic", sans-serif;
  font-size: 112px;
  font-weight: 400;
  line-height: 130px; /* 86.667% */
}
main .project-detail-page section.brand-intro .brand-body {
  display: flex;
  align-items: center;
  padding-inline: 120px;
  justify-content: space-between;
}
main .project-detail-page section.brand-intro .brand-body .left {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
main .project-detail-page section.brand-intro .brand-body .left p {
  color: var(--Z-Primary-Black, #0F0E0E);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 74%;
}
main .project-detail-page section.brand-intro .brand-body .left button {
  border-radius: 60px;
  border: 1px solid var(--Z-Primary-Black, #0F0E0E);
  padding: 16px;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 12px;
  color: var(--Z-Primary-Black, #0F0E0E);
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.2px */
}
main .project-detail-page section.brand-intro .brand-body .right img {
  width: 634px;
  height: 100%;
}
main .project-detail-page section.brief {
  background-color: #e2e2e2;
  padding: 48px 36px;
  display: flex;
  flex-direction: column;
  padding-right: 110px;
  gap: 48px;
}
main .project-detail-page section.brief p {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 97.5px;
  font-style: normal;
  font-weight: 200;
  line-height: 97.5px;
  text-transform: uppercase;
}
main .project-detail-page section.brief p span {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "times-italic";
  font-size: 112.5px;
  font-weight: 400;
  line-height: 97.5px; /* 86.667% */
  text-transform: capitalize;
}
main .project-detail-page section.brief .content p {
  color: var(--Primary-Black-700, #1A1A1A);
  text-align: justify;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 31.2px */
  text-transform: unset;
}
main .project-detail-page section.brief .content p.desc {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24.5px;
  font-style: normal;
  font-weight: 200;
  line-height: 120%;
  text-align: unset;
}
main .project-detail-page section.brief .content ul {
  padding-left: 0;
  list-style: disc;
}
main .project-detail-page section.brief .content ul li {
  margin-bottom: 32px;
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 120%;
}
main .project-detail-page section.brief .content ul li span {
  color: var(--Primary-Black-700, #1A1A1A);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
main .download-cta {
  position: sticky;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

@media print {
  html, body {
    width: 1440px; /* Set the width to 1920px */
    height: 900px; /* Set the height to 1080px */
    margin: 0; /* Remove default margins */
    padding: 0;
  }
  section {
    width: 1440px; /* Set the width to 1920px */
    height: 900px; /* Set the height to 1080px */
    page-break-after: always; /* Force each section to be on a new page */
  }
  @page {
    size: 1440px 900px; /* Set PDF dimensions to 1920x1080 */
    margin: 0; /* Remove page margins */
  }
}

/*# sourceMappingURL=output.css.map */
