@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: "times-italic";
  src: url("/fonts/Times Italic.ttf");
  font-style: italic;
  font-display:swap;
}