@import "_breakpoints.scss";

html {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: "worksans-regular", sans-serif;
	@include phone {
		overflow-x: hidden;
	}
}

strong {
	font-family: "worksans-bold", sans-serif;
}

em {
	font-family: "worksans-semibold", sans-serif;
}

.spacer {
	height: 72px;
}

.spacer-mini {
	height: 56px;
}

.row-no-gutter {
	margin-right: 0;
	margin-left: 0;

	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

ul {
	list-style: none;
	margin-bottom: 0;
	li {
		list-style: none;
	}
	&.listing {
		display: unset !important;
		li {
			background: transparent !important;
			padding: 0 !important;
			text-align: left !important;
		}
	}
}

ol {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

a {
	text-decoration: none;
	z-index: 9;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:hover {
		color: inherit;
	}
}

.f-22 {
	font-size: 22px;
}

.main-anchor {
	color: inherit;
	svg {
		width: 200px;
	}
}

.cta-wrapper {
	.bttn-primary {
		// background: var(--dark_pink_gradient);
		// border-image: var(--dark_pink_gradient) 10;
		text-decoration: none;
		background: linear-gradient(
			to bottom,
			rgba(80, 80, 80, 0.8),
			/* Darker gray with more opacity */ rgba(150, 150, 150, 0.9) /* Deeper gray with higher opacity */
		);

		//     border-image: linear-gradient(
		//   to bottom,
		//   rgba(80, 80, 80, 0.8), /* Darker gray with more opacity */
		//   rgba(150, 150, 150, 0.9) /* Deeper gray with higher opacity */
		// );

		// border-style: solid;
		border-width: 1px;
		border-radius: 8px;
		color: var(--white);
		padding: 12px 16px;
		width: 189px;
		font-family: "worksans-medium", sans-serif;
		&:hover {
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
		}
	}
	.cta{
		text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    font-family: "Plus Jakarta Sans", sans-serif;
	text-decoration: none;
	color: #E91010;
	}
}

.truncate-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
