main{
	.blur-overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
	&.active{
		display: block !important;
	}
	}
.container-homepage {
	padding: 160px 80px 80px 80px;
	background-size: contain !important;
	background-position: bottom center !important;
	background-repeat: no-repeat !important;
	min-height: 100vh;
	background: linear-gradient(
			to top,
			rgba(100, 100, 100, 0.4),
			/* Lighter black (soft gray) with 40% opacity */ rgba(226, 226, 226, 0.6) /* #e2e2e2 with 60% opacity */
		),
		url("/images/skyline.svg");
		&.overflow-hidden{
			overflow: hidden;
		}
	table {
		width: 100%;
		// border-collapse: collapse;
		background-color: #fff;
		border: none;

		tr {
			border: 1px solid;
			font-size: 22px;
			th {
				font-weight: 600 !important;
			}
			td,
			th {
				padding: 20px;
				border-right: 1px solid #000;
				text-align: center;
				font-size: 26px;
				font-style: normal;
				font-weight: 300;
				line-height: 120%;
				font-family: "Plus Jakarta Sans", sans-serif;
				&.view-td{
					color: #E91010;
                  &:hover{
					svg{
						 transform: translateX(10px); /* Adjust the value (10px) for the desired shift */
    transition: transform 0.3s ease; /* Smooth animation over 0.3 seconds */
					}
				  }

				}

				a {
					color: inherit;
					text-decoration: none;
				}
				svg{
					margin-left: 12px;
					height: 32px;
					width: 32px;
					path{
						stroke: #E91010;;
						fill: #E91010;;
					}
				}
				// button {
				// 	padding: 12px 24px;
				// 	// width: 100%;
				// 	background: linear-gradient(to bottom, rgba(80, 80, 80, 0.8), rgba(150, 150, 150, 0.9));
				// 	border: none;
				// 	border-radius: 12px;
				// 	font-size: 16px;
				// 	font-style: normal;
				// 	font-weight: 400;
				// 	line-height: 120%;
				// 	font-family: "Plus Jakarta Sans", sans-serif;
				// 	color: #fefefe;
				// 	&:hover {
				// 		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
				// 	}
				// 	img {
				// 		height: 24px;
				// 		width: 24px;
				// 	}
				// }
				
			}
			td{
				font-size: 20px;
				.delete-wrapper{
					height: 32px;
					width: 32px;
                    margin-inline: auto;
					img{
						width: 100%;
						height: 100%;
						
					}
				}
			}
			
		}
	}
	.container-head {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 40px;

		button {
			padding: 20px;
		}
	}
}

.upload-popup-wrapper{
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    max-width: 50%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    z-index: 10000;
	padding: 40px;
  &.active{
   display: block !important;
  }
   form{
        display: flex;
        flex-direction: column;
        gap: 24px;
		padding-inline: unset;
       

    }
.close-cta{
	position: absolute;
	right: 32px;
	top: 32px;
	height: 32px;
	width: 32px;
} }
}
.delete-popup-wrapper{
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    max-width: 50%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    z-index: 10000;
	padding: 40px;
  &.active{
   display: block !important;
  }
 
.close-cta{
	position: absolute;
	right: 32px;
	top: 32px;
	height: 32px;
	width: 32px;
} 
}
