.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#1A1A1A 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#1A1A1A);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: s4 1s infinite linear;
  &.pdf{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

@keyframes s4{ 
  100%{transform: rotate(1turn)}
}