main {
    position: relative;
    // background-color: #E91010;
    .project-detail-page {
        .pdfViewer{
            width: 100%;
            height: 100%;
            border: none;
        }
        section {
            height: 900px;
            // border: 1px solid #000;
            &.cover {
                background-color: #e2e2e2;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                .logo-svg {
                    position: absolute;
                    width: 289px;
                    height: 64.03px;
                    top: 5%;
                    left: 3%;
                }
                .small-text {
                    color: #1a1a1a;
                    text-align: right;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%; /* 33.6px */
                    position: absolute;
                    bottom: 3%;
                    right: 3%;
                }
                .main-text {
                    color: #1a1a1a;
                    text-align: center;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 145.826px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 135.993px; /* 93.257% */
                    text-transform: uppercase;
                    position: relative;
                    .design-agency {
                        font-style: italic;
                        font-weight: 200;
                    }
                    .for {
                        font-family: "times-italic", sans-serif;
                        font-size: 161.867px;
                        font-style: italic;
                        font-weight: 400;
                        text-transform: lowercase;
                    }
                    img {
                        margin-inline: 18px;
                    }
                    .leaders {
                        color: #1a1a1a;
                        text-align: center;
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 145.826px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 135.993px; /* 93.257% */
                        text-transform: uppercase;
                    }
                    .headline {
                        display: flex;
                        align-items: center;
                        .image-div {
                            position: relative;
                            width: 190.228px;
                            height: 120px;
                            margin-right: 36px;
                            img {
                                position: absolute;
                                bottom: 0;
                                width: 190.228px;
                                height: 107.827px;
                                left: 0;
                            }
                        }
                    }
                }
                .glass-svg {
                    position: absolute;
                    top: 6%;
                    right: 15%;
                    width: 280px;
                    height: 270px;
                    z-index: 0;
                }
            }
            &.intro {
                position: relative;
                background-color: #1a1a1a;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-inline: 100px;
                height: 100vh;
                .glass-svg {
                    position: absolute;
                    z-index: 1;
                    opacity: 0.9;
                }
                p {
                    color: #e2e2e2;
                    text-align: center;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 57.633px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 104px; /* 123.81% */
                    text-transform: capitalize;
                    position: relative;
                    z-index: 2;

                    span {
                        color: #e2e2e2;
                        font-family: "times-italic", sans-serif;
                        font-size: 64.494px;

                        font-style: italic;
                        font-weight: 400;
                        line-height: 104px;
                        text-transform: capitalize;
                    }
                }
                .small-text {
                    color: #e2e2e2;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%; /* 33.6px */
                    position: absolute;
                    top: 54px;
                    left: 62px;
                    text-align: left;
                    text-transform: none;
                    &:hover {
                        text-decoration: none;
                    }
                    &.site-visit {
                        top: unset;
                        left: unset;
                        right: 4%;
                        bottom: 6%;
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        font-size: 32px;
                    }
                }
            }
            &.numbers {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #e2e2e2;
                flex-direction: column;
                gap: 24px;
                padding-block: 76px;
                .num {
                    display: flex;
                    gap: 16px;
                    position: relative;
                    align-items: center;

                    &.num1 {
                        gap: 60px;
                    }
                    &.num2 {
                        img {
                            width: 73px;
                            height: 73px;
                        }
                    }
                    &.num3 {
                        img {
                            width: 104.672px;
                            height: 116.302px;
                        }
                    }
                    &.num4 {
                        img {
                            width: 135.977px;
                            height: 75.543px;
                        }
                        &::after {
                            display: none;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px; /* Adjust the border thickness */
                        background: linear-gradient(
                            90deg,
                            rgba(146, 146, 146, 0) 3.5%,
                            #1a1a1a 50.5%,
                            rgba(146, 146, 146, 0) 100%
                        );
                        border-radius: 2px; /* Optional: makes the border edges rounded */
                    }
                    p {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 97.666px;
                        font-style: normal;
                        font-weight: 200;
                        line-height: 97.666px;
                        text-transform: uppercase;
                        margin-bottom: 24px;
                        span {
                            color: var(--Primary-Red-700, #e91010);
                            font-family: "times-italic", sans-serif;
                            font-size: 112.691px;
                            font-weight: 400;
                        }
                    }
                    img {
                        width: 800px;
                        height: 96px;
                    }
                }
            }
            &.awards {
                padding-inline: 64px;
                padding-top: 36px;
                background-color: #e2e2e2;
                display: flex;
                flex-direction: column;
                // gap: 42px;
                // gap: 16px;
                p {
                    color: var(--Primary-Black-700, #1a1a1a);
                    font-family: "times-italic";
                    font-size: 84px;
                    font-weight: 400;
                    line-height: 86px; /* 86.667% */
                    span {
                        color: var(--Primary-Black-700, #1a1a1a);
                        /* Display/130 - Extralight */
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 76px;
                        font-style: normal;
                        font-weight: 200;
                        line-height: 130px; /* 100% */
                        text-transform: uppercase;
                    }
                }
                table {
                    width: 100%;
                    tr {
                        position: relative;
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 1px; /* Adjust the border thickness */
                            background: linear-gradient(
                                90deg,
                                rgba(146, 146, 146, 0) 3.5%,
                                #1a1a1a 50.5%,
                                rgba(146, 146, 146, 0) 100%
                            );
                            border-radius: 2px; /* Optional: makes the border edges rounded */
                        }
                    }
                    td {
                        padding-bottom: 16px;
                        padding-top: 16px;

                        img {
                            width: 54px;
                            height: 54px;
                        }
                        &:first-child {
                            color: var(--Primary-Black-700, #1a1a1a);
                            /* Title 1/32 - Regular */
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px; /* 100% */
                            text-transform: capitalize;
                        }
                        &:nth-child(5) {
                            color: var(--Primary-Red-700, #e91010);
                            font-family: "times-italic";
                            font-size: 24px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 32px; /* 100% */
                            text-transform: capitalize;
                        }
                        &:nth-child(6) {
                            color: var(--Primary-Black-700, #1a1a1a);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px; /* 100% */
                            text-transform: capitalize;
                        }
                    }
                }
            }
            &.partners {
                background-image: url(/images/partners/partner-bg.png);
                padding: 64px 48px;
                display: flex;
                flex-direction: column;
                gap: 72px;
                // height: 100vh;
                background-position: center;
                background-size: cover;
                p {
                    color: #e2e2e2;
                    font-family: "times-italic";
                    font-size: 112.5px;
                    font-weight: 400;
                    line-height: 97.5px; /* 86.667% */
                    span {
                        color: #e2e2e2;
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 97.5px;
                        font-style: normal;
                        font-weight: 200;
                        line-height: 97.5px;
                        text-transform: uppercase;
                    }
                }
                .grids {
                    display: flex;
                    flex-direction: column;
                    gap: 64px;
                    justify-content: center;
                    align-items: center;
                    padding-inline: 48px;
                    .grid {
                        width: 100%;
                        display: flex;
                        gap: 54px;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
            &.ideation {
                background-color: #e2e2e2;
                padding: 64px 48px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100vh;

                p {
                    color: #1a1a1a;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 97.5px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 97.5px; /* 100% */
                    text-transform: uppercase;
                    span {
                        color: #1a1a1a;
                        font-family: "times-italic", sans-serif;
                        font-size: 112.5px;
                        font-weight: 400;
                        line-height: 97.5px;
                        text-transform: lowercase;
                    }
                }
                .ideation-group {
                    display: flex;
                    justify-content: space-between;

                    .topic {
                        display: flex;
                        flex-direction: column;
                        gap: 18px;
                        img {
                            width: 210px;
                            height: 270px;
                        }
                        p {
                            color: var(--Primary-Black-700, #1a1a1a);
                            text-align: center;
                            font-family: "times-italic", sans-serif;
                            font-weight: 400;
                            line-height: 24px; /* 100% */
                            text-transform: capitalize;
                            font-size: 24px;
                        }
                    }
                }
            }
            &.brand-intro {
                padding-top: 24px;
                background-color: #e2e2e2;

                .brand-head {
                    border: 1px solid rgba(15, 14, 14, 0.2);
                    border-left: none;
                    border-right: none;
                    display: flex;
                    padding-inline: 48px 140px;
                    padding-block: 20px 12px;
                    align-items: center;
                    justify-content: space-between;
                    .cover {
                        width: 448px;
                        height: 48px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .brand-name {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "times-italic", sans-serif;
                        font-size: 112px;
                        font-weight: 400;
                        line-height: 130px; /* 86.667% */
                    }
                }
                .brand-body {
                    display: flex;
                    align-items: center;
                    padding-inline: 120px;
                    justify-content: space-between;
                    gap: 52px;
                    .left {
                        display: flex;
                        flex-direction: column;
                        gap: 54px;
                        p {
                            color: var(--Z-Primary-Black, #0f0e0e);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 36px;
                            font-style: normal;
                            font-weight: 200;
                            line-height: normal;
                            width: 74%;
                        }
                        .pills {
                            display: grid;
                            grid-template-columns: auto auto;
                            gap: 40px;
                            button {
                                border-radius: 60px;
                                border: 1px solid var(--Z-Primary-Black, #0f0e0e);
                                padding: 16px;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                gap: 12px;
                                color: var(--Z-Primary-Black, #0f0e0e);
                                text-align: center;
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 16.2px */
                            }
                        }
                    }
                    .right {
                        .cover {
                            width: 634px;
                            height: 696px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            &.brief {
                background-color: #e2e2e2;
                padding: 48px 36px;
                display: flex;
                flex-direction: column;
                padding-right: 110px;
                gap: 48px;
                p {
                    color: var(--Primary-Black-700, #1a1a1a);
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 97.5px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 97.5px;
                    text-transform: uppercase;
                    span {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "times-italic";
                        font-size: 112.5px;
                        font-weight: 400;
                        line-height: 97.5px; /* 86.667% */
                        text-transform: capitalize;
                    }
                }
                .content {
                    p {
                        color: var(--Primary-Black-700, #1a1a1a);
                        text-align: justify;
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; /* 31.2px */
                        text-transform: unset;
                        &.desc {
                            color: var(--Primary-Black-700, #1a1a1a);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 24.5px;
                            font-style: normal;
                            font-weight: 200;
                            line-height: 120%;
                            text-align: unset;
                        }
                    }
                    ul {
                        padding-left: 0;
                        list-style: disc;
                        li {
                            margin-bottom: 32px;
                            span {
                                color: var(--Primary-Black-700, #1a1a1a);
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%;
                            }
                            color: var(--Primary-Black-700, #1a1a1a);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 200;
                            line-height: 120%;
                        }
                    }
                }
            }
            &.briefs-section {
                padding: 36px 48px;
                background-color: #e2e2e2;
                display: flex;
                flex-direction: column;
                gap: 52px;
                p {
                    color: var(--Primary-Black-700, #1a1a1a);
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 97.5px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 97.5px;
                    text-transform: uppercase;
                    span {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "times-italic";
                        font-size: 112.5px;
                        font-weight: 400;
                        line-height: 97.5px; /* 86.667% */
                        text-transform: capitalize;
                    }
                }
                .content-wrapper {
                    display: flex;
                    gap: 52px;

                    .content-card {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .cover {
                            max-height: 438px;
                            min-height: 438px;

                            overflow: hidden;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }

                        p {
                            color: var(--Primary-Black-700, #1a1a1a);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 18.75px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 36.75px; /* 196% */
                        }
                        &.big {
                            .cover {
                                width: 976.5px;
                            }
                        }
                        &.small {
                            .cover {
                                width: 257.5px;
                            }
                        }
                    }
                }
                .approach-desc {
                    color: var(--Primary-Black-700, #1a1a1a);
                    text-align: justify;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 120%; /* 28.8px */
                    text-transform: unset;
                }
            }
            &.unique-pages {
                padding: 48px 64px;
                background-color: #e2e2e2;
                display: flex;
                flex-direction: column;
                gap: 42px;
                h6 {
                    color: var(--Primary-Black-700, #1a1a1a);
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 97.5px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 97.5px;
                    text-transform: uppercase;
                    span {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "times-italic";
                        font-size: 112.5px;
                        font-weight: 400;
                        line-height: 97.5px; /* 86.667% */
                        text-transform: capitalize;
                    }
                }
                .content {
                    padding-left: 42px;
                    p {
                        color: var(--Primary-Black-700, #1a1a1a);
                        text-align: justify;
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; /* 38.4px */
                    }
                    ol {
                        grid-template-columns: repeat(2, 1fr) !important;
                        li {
                            color: var(--Primary-Black-700, #1a1a1a);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 120%;
                        }
                    }
                }
            }
            &.process {
                padding: 48px 64px;
                background-color: #e2e2e2;
                display: flex;
                flex-direction: column;
                gap: 42px;
                h6 {
                    color: var(--Primary-Black-700, #1a1a1a);
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 97.5px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 97.5px;
                    text-transform: uppercase;
                    span {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "times-italic";
                        font-size: 112.5px;
                        font-weight: 400;
                        line-height: 97.5px; /* 86.667% */
                        text-transform: capitalize;
                    }
                }
                ol {
                    padding-left: 42px;
                    grid-template-columns: repeat(1, 1fr) !important;
                    li {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 37px; /* 142.308% */
                        &::marker {
                            font-weight: 400;
                        }
                        &:not(:first-child) {
                            margin-top: 24px;
                        }
                        ol {
                            list-style-type: disc !important;
                            li {
                                margin-top: 12px !important ;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            &.sprint-plan {
                padding: 48px 64px;
                background-color: #e2e2e2;
                display: flex;
                flex-direction: column;

                h6 {
                    color: var(--Primary-Black-700, #1a1a1a);
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 97.5px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 97.5px;
                    text-transform: uppercase;
                    span {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "times-italic";
                        font-size: 112.5px;
                        font-weight: 400;
                        line-height: 97.5px; /* 86.667% */
                        text-transform: capitalize;
                    }
                }
                .content {
                    display: flex;
                    justify-content: flex-end;

                    p {
                        width: 50%;
                        color: #1e1e1e;

                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%; /* 28px */
                    }
                }
                .timeline-chart {
                    position: relative;
                    height: 72%;
                    // padding: 20px;
                    border: 1px solid rgba(15, 14, 14, 0.2);
                    .label-container {
                        display: flex;
                        position: absolute;
                        bottom: -10%;
                        width: 100%;

                        span {
                            flex: 1 1 0%;
                            text-align: right;
                            font-size: 14px;
                            font-weight: bold;
                            color: var(--Z-Primary-Black, #0f0e0e);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 113%; /* 18.08px */
                        }
                        p {
                            position: absolute;
                            left: 0;
                            font-size: 14px;
                            font-weight: bold;
                            color: var(--Z-Primary-Black, #0f0e0e);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 113%; /* 18.08px */
                        }
                    }
                    .milestone-container {
                        height: 100%;
                        // width: 100%;
                        overflow-y: auto;

                        .milestones {
                            position: absolute;

                            background-color: #1a1a1a;
                            color: #e2e2e2;
                            text-align: center;
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 37px; /* 185% */
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            white-space: nowrap;
                            padding: 36px 80px;
                            box-sizing: border-box;
                            &:last-child {
                                background-color: #e91010;
                            }
                        }
                    }
                }
            }
            &.engagement {
                padding: 48px 64px;
                background-color: #e2e2e2;
                display: flex;
                flex-direction: column;
                gap: 60px;
                h6 {
                    color: var(--Primary-Black-700, #1a1a1a);
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-size: 97.5px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 97.5px;
                    text-transform: uppercase;
                    span {
                        color: var(--Primary-Black-700, #1a1a1a);
                        font-family: "times-italic";
                        font-size: 112.5px;
                        font-weight: 400;
                        line-height: 97.5px; /* 86.667% */
                        text-transform: capitalize;
                    }
                }
                .content {
                    display: flex;
                    gap: 54px;
                    .left {
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        width: 50%;
                        border-right: 1px solid #000;
                        // height: 100%;
                        .upper {
                            max-height: 400px;
                            height: 100%;
                            overflow-y: scroll;
                        }
                        .bill {
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            p {
                                color: var(--Primary-Black-700, #1a1a1a);
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-size: 25px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 37px; /* 148% */
                            }
                        }
                        table {
                            th {
                                color: var(--Primary-Black-700, #1a1a1a);
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-size: 25px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 49px;
                            }
                            td {
                                color: var(--Primary-Black-700, #1a1a1a);
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-size: 25px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 49px;
                            }
                            &.lower-table {
                                tr {
                                    &:nth-child(2) {
                                        td {
                                            padding-top: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right {
                        width: 50%;
                        max-height: 634px;
                        height: 100%;
                        overflow-y: scroll;
                        scrollbar-width: none; /* For Firefox */
                        -ms-overflow-style: none; /* For Internet Explorer and Edge */

                        &::-webkit-scrollbar {
                            display: none; /* For Chrome, Safari, and Opera */
                        }
                        p {
                            color: var(--Primary-Black-700, #1a1a1a);
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 49px; /* 196% */
                        }
                        ol {
                            list-style-type: disc;
                            grid-template-columns: repeat(1, 1fr) !important;
                            li {
                                color: var(--Primary-Black-700, #1a1a1a);
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 37px;
                            }
                        }
                    }
                }
            }
            &.footer {
                background-image: url(/images/footer-bg.png);
                background-position: right;
                background-size: cover;
                position: relative;
                .content {
                    position: absolute;
                    left: 4%;
                    bottom: 4%;
                    p {
                        color: #e2e2e2;

                        /* Title 2/28 - Regular */
                        font-family: "Plus Jakarta Sans", sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px; /* 100% */
                        text-transform: capitalize;
                        margin-bottom: 0;

                        &.mail {
                            color: #e2e2e2;

                            /* Display(Mweb)/74 - Times Italic */
                            font-family: "times-italic", sans-serif;
                            font-size: 52px;
                            font-weight: 400;
                            line-height: 64px; /* 86.486% */
                            padding-bottom: 32px;
                            border-bottom: 1px solid rgba(226, 226, 226, 0.4);
                            text-transform: lowercase;
                        }
                    }
                    a {
                        &:hover {
                            text-decoration: none !important;
                        }
                    }
                    .locations {
                        padding-top: 32px;
                        display: flex;
                        gap: 44px;

                        p {
                            color: var(--Z-Primary-White, #fff);

                            /* Title 2/28 - Regular */
                            font-family: "Plus Jakarta Sans", sans-serif;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 28px; /* 100% */
                            text-transform: capitalize;
                            &:not(:last-child) {
                                padding-right: 44px;
                                border-right: 1px solid #e2e2e2;
                            }
                        }
                    }
                }
            }
        }
    }
    .download-cta {
        position: sticky;
        bottom: 4%;
        right: 4%;
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
        .svg-wrapper {
            border-radius: 50%;
            padding: 20px !important;
            border: none;
            background-color: #1a1a1a;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

            svg {
                width: 32px;
                height: 32px;
                path {
                    stroke: #e2e2e2;
                }
            }
        }
        .custom-loader{
            width: 64px;
            height: 64px;
        }
    }
}
@media print {
    html,
    body {
        width: 1440px; /* Set the width to 1920px */
        height: 900px; /* Set the height to 1080px */
        margin: 0; /* Remove default margins */
        padding: 0;
    }

    section {
        width: 1440px; /* Set the width to 1920px */
        height: 900px; /* Set the height to 1080px */
        page-break-after: always; /* Force each section to be on a new page */
    }

    @page {
        size: 1440px 900px; /* Set PDF dimensions to 1920x1080 */
        margin: 0; /* Remove page margins */
    }
}
